@import "../../ui/variables/colors.module.scss";
@import "../../ui/variables/fonts.module.scss";

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  font: $main-font;
  font-size: 3rem;
  font-weight: 600;
}

.chartsContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: $primary-color;
  font: $main-font;
  font-size: 3rem;
  font-weight: 600;
  border: 0.3rem black solid;
}

.temperatureContainer {
  background-color: black;
  height: 100%;
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.temperatureHeader {
  margin-top: 2rem;
  font-size: 2rem;
  color: white;
  margin-bottom: 5rem;
}

.humidityContainer {
  height: 100%;
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.humidityHeader {
  margin-top: 2rem;
  font-size: 2rem;
  color: black;
  margin-bottom: 5rem;
}
